{% load static %}

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner">
        <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo"/>
        </div>
        <div class="menu">
            <a href="{% url 'dashboard' %}" class="menu-item {% if request.resolver_match.url_name == 'dashboard' %} active {% endif %}">
                <i class="fas fa-area-chart icon"></i> Dashboard
            </a>
            <a href="{% url 'transactions' %}" class="menu-item {% if request.resolver_match.url_name == 'transactions' %} active {% endif %}">
                <i class="fas fa-user icon"></i> Clients
            </a>
            {% if user.unit == 'PACD' %}
            <a href="{% url 'account' %}" class="menu-item {% if request.resolver_match.url_name == 'account' %} active {% endif %}">
                <i class="fas fa-users icon"></i> Accounts
            </a>
            {% endif %}
            <a href="{% url 'services' %}" class="menu-item menu-item {% if request.resolver_match.url_name == 'services' %} active {% endif %}">
                <i class="fas fa-gears icon"></i> Services
            </a>
            <a href="{% url 'reports' %}" class="menu-item {% if request.resolver_match.url_name == 'reports' %} active {% endif %}">
                <i class="fas fa-file-text icon"></i> Reports
            </a>
            <a href="{% url 'transactions_history' %}" class="menu-item {% if request.resolver_match.url_name == 'transactions_history' %} active {% endif %}">
                <i class="fas fa-list icon"></i> Transactions
            </a>
        </div>
        <div class="support-box">
            <h3 class="support-title">Need help?</h3>
            <p class="support-text">Our support team is just a click away.</p>
            <button class="support-button">Contact Support</button>
        </div>
    </div>
</div>