{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{user.unit}} Dashboard {% endblock %}


{% block content %}

{% include 'app/partials/sidebar.html' %}
{% include 'app/partials/navbar.html' %}

<main class="main">
    <div class="dashboard-cards">
        <div class="card">
            <h3> <i class="fas fa-users icon"></i> Transactions</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-transactions"></span>
                <div class="badge badge-red"><span id="percent-add"></span></div>
            </div>
        </div>
        <div class="card">
            <h3><i class="fas fa-check icon"></i> Completed</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-completed"> </span>
                <div class="badge badge-green"><span id="percent-completed"></span></div>
            </div>
        </div>

        {% if user.unit == 'PACD' %}
        <div class="card">
            <h3><i class="fas fa-user-md icon"></i> RD/ARD</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-rd"> </span>
                <div class="badge badge-blue"><span id="percent-rd"></span></div>
            </div>
        </div>
        <div class="card">
            <h3><i class="fas fa-users-gear icon"></i> MSD</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-msd"> </span>
                <div class="badge badge-blue"><span id="percent-msd"></span></div>
            </div>
        </div>
        <div class="card">
            <h3><i class="fas fa-medkit icon"></i> LHSD</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-lhsd"> </span>
                <div class="badge badge-blue"><span id="percent-lhsd"></span></div>
            </div>
        </div>
        <div class="card">
            <h3><i class="fas fa-user-pen icon"></i> RLED</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-rled"> </span>
                <div class="badge badge-blue"><span id="percent-rled"></span></div>
            </div>
        </div>
        {% else %}
        <div class="card">
            <h3><i class="fas fa-check icon"></i> CSM</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-csm"> </span>
                <div class="badge badge-blue"><span id="percent-csm"></span></div>
            </div>
        </div>
        <div class="card">
            <h3><i class="fas fa-check icon"></i> CSS </h3>
            <div class="card-value-row">
                <span class="card-value" id="total-css"> </span>
                <div class="badge badge-blue"><span id="percent-css"></span></div>
            </div>
        </div>
        {% endif %}  
    </div>
    
    <div class="type-panel">
        <div class="panel-header">
            <div class="chart-box">
            <h3><i class="fas fa-area-chart icon"></i>Overview</h3>
            <canvas height="500" id="typeOutputChart"></canvas>
            </div>
        </div>
    </div>
    <br>
    <div class="transaction-panel">
        <div class="panel-header">
            <div class="chart-box">
            <h2>Daily Output</h2>
            <canvas id="dailyOutputChart"></canvas>
            </div>
            <div class="chart-box">
            <h2>Monthly Output</h2>
            <canvas id="monthlyOutputChart"></canvas>
            </div>
        </div>
    </div>
    <!-- <div class="table-panel">
        <div class="custom-table">
            <h2>Transactions</h2>
            <div class="table-container">
                <table id="clientList">
                    <thead>
                    <tr>
                        <th>Transactions ID</th>
                        <th>Client Fullname</th>
                        <th>Division</th>
                        <th>Unit</th>
                        <th>Status</th>
                        <th>Date Served</th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div >
    </div> -->
</main>

<div class="modal-overlay" id="view-details-modal" role="dialog" aria-modal="true" aria-labelledby="modal-title">
    <div class="modal-view" tabindex="-1">
        <button class="close-btn" aria-label="Close modal" onclick="closeViewDetails()">&times;</button>
        <h2>Client Details</h2>
        <dl id="client-details-list">
        </dl>
    </div>
</div>

<script>
const socket = new WebSocket("ws://" + window.location.host + "/ws/notifications/");

let notificationSound;

// enable sound after click (browser policy)
document.addEventListener('click', () => {
    if (!notificationSound) {
        notificationSound = new Audio("{% static 'audio/notify.mp3' %}");
        notificationSound.load();
    }
}, { once: true });

// receive data from backend
socket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    const count = data.count;
    const badge = document.getElementById('notify');

    if (count > 0) {
        badge.textContent = count;
        badge.style.display = 'inline-block';
    } else {
        badge.style.display = 'none';
    }

    // play sound if new notification
    if (notificationSound) {
        notificationSound.play().catch(err => console.warn(err));
    }
};


</script>

{% endblock %}

