{% extends 'app/base.html' %}

{% load static %}
{% block title %}{{user.unit}} {{ page_title}} {% endblock %}

{% block content %}

{% include 'app/partials/sidebar.html' %}
{% include 'app/partials/navbar.html' %}

<main class="main">
    <div class="dashboard-cards">
        <div class="card">
            <h3> <i class="fas fa-users icon"></i> Transactions</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-transactions"></span>
                <!-- <div class="badge badge-green">+12%</div> -->
            </div>
        </div>
        <div class="card">
            <h3><i class="fas fa-clock icon edit"></i> Waiting</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-waiting"> </span>
                <!-- <div class="badge badge-blue">Active</div> -->
            </div>
        </div>
        <div class="card">
            <h3><i class="fas fa-check icon"></i> Served</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-completed"> </span>
                <!-- <div class="badge badge-blue">Active</div> -->
            </div>
        </div>
        <div class="card">
            <h3><i class="fas fa-user-message icon"></i> Serving</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-serving"> 0</span>
                <!-- <div class="badge badge-blue">Active</div> -->
            </div>
        </div>
        <div class="card">
            <h3> <i class="fas fa-exclamation-circle icon delete"></i> Skipped</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-skipped"> </span>
                <!-- <span class="card-subtext">minutes</span> -->
            </div>
        </div>
    </div>
    {% if user.unit != 'PACD' %}
        <div class="transaction-panel" style="height: 160px;">
            <div class="panel-title">
                <h3> Serving Client </h3>
                <div class="pagination" id="servingPagination"></div>
            </div>
            <div class="transaction-headers grid-pending">
            <div>ID</div>
            <div>Client Name</div>
            <div>Trasaction No</div>
            <div>Transaction Type</div>
            <div></div>
        </div>
        <div class="transaction-list" id="servingClientList" style="height: 220px;">
            <!-- data fetch -->
        </div>
        </div>
    {% endif %}

<div class="transaction-panel">
    <div class="panel-title">
        <h3> Pending Transactions </h3>
        <div class="pagination" id="paginationControls"></div>
    </div>
    <div class="transaction-headers grid-pending">
        <div>ID</div>
        <div>Client Name</div>
        <div>Queue No</div>
        <div>Client Type</div>
        <div></div>
    </div>
    <div class="transaction-list" id="pendingClientList" style="height: 220px;">
        <!-- pending clients -->
    </div>
</div>

    <div class="transaction-panel">
        <div class="panel-title">
            <h3> Recent Transactions </h3>
            <div id="historyPagination" class="pagination"></div>
        </div>
        <div class="transaction-headers grid-history">
            <div>Client Name</div>
            <div>Transaction No</div>
            <div>Transaction type</div>
            <div>Status</div>
            <div>Date</div>
            <div></div>
        </div>
        <div class="transaction-list" id="todayTransactions">
            <!-- recent transactions -->
        </div>
    </div>

</main>

<div class="modal-overlay" id="clientModal">
  <div class="modal-view ">
    <button class="close-btn" onclick="closeModal()">&times;</button>
    <form class="client-details" id="clientForm" novalidate></form>
  </div>
</div>
 
</div>

<script>
    const sidebar = document.getElementById('sidebar');
    const toggleBtn = document.getElementById('sidebarToggle');

    function showSidebar() {
        sidebar.classList.remove('hidden');
    }

    function hideSidebar() {
        if (window.innerWidth <= 768) {
            sidebar.classList.add('hidden');
        }
    }

    function toggleSidebar() {
        sidebar.classList.toggle('hidden');
    }

    function checkScreenSize() {
        if (window.innerWidth > 768) {
            sidebar.classList.remove('hidden');
        } else {
            sidebar.classList.add('hidden');
        }
    }

    toggleBtn.addEventListener('click', (event) => {
        event.stopPropagation(); // Prevent click from reaching the document
        toggleSidebar();
    });

    // Hide sidebar if clicked outside
    document.addEventListener('click', (event) => {
        if (
            window.innerWidth <= 768 &&
            !sidebar.contains(event.target) &&
            !toggleBtn.contains(event.target)
        ) {
            hideSidebar();
        }
    });

    window.addEventListener('load', checkScreenSize);
    window.addEventListener('resize', checkScreenSize);
</script>


{% endblock %}