<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <script>
        window.dashboardConfig = {
            unitDashboard: "{% url 'unit_dashboards' %}",
            pacdDashboard: "{% url 'pacd_dashboard' %}",
            dashboardUrl: "{% url 'dashboard' %}",
            resolvedClientsUrl: "{% url 'resolved_clients' %}",
            updateDivisionLogUrl: "{% url 'update_division_log' %}",
            pendingClientsUrl: "{% url 'pending_clients' %}",
            unitDashboadUrl: "{% url 'unit_dashboard' %}",
            updateClientStatusServedUrl: "{% url 'update_client_status_served' %}",
            updateClientStatusForwardedUrl: "{% url 'update_client_status_forwarded' %}",
            forwardedPendingClientUrl: "{% url 'pacd_unit_dashboard' %}",
            fetchResolvedDataUrl: "{% url 'fetch_all_resolved_client' %}", // fetch data all resolved client
            csrfToken: "{{ csrf_token }}"
        };
    </script>
    <script src="{% static 'js/dashboard.js' %}"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>