<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <script>
        window.dashboardConfig = {

            f_transactions: "{% url 'f_transactions' %}",
            f_dashboard: "{% url 'f_dashboard' %}",
            transactionHistory: "{% url 'transaction-history' %}",  // resolved client list per day


            queViewUrl: "{% url 'que-view' %}", // que display on screen
            displayQueUrl: "{% url 'display-page' %}", // display page
            servingClient: "{% url 'serving-client' %}",

            
            forwardedClientToUnit: "{% url 'forwarded-client-to-unit' %}", // action forwarded client to unit from PACD
            skippedClient: "{% url 'skipped-client' %}", // action skipped client from PACD
            skippedClientUnit: "{% url 'skipped-client-unit' %}", // action skipped client from unit
            updateDetails: "{% url 'update-details' %}", // action update the details of user
        
            notification: "{% url 'notifications-pacd' %}", // notifications for pending in pacd
            transactionCount: "{% url 'count-type-transaction' %}", // count per type of transactions
            transactionCountUnit: "{% url 'count-type-transaction-unit' %}", // count per type of unit transactions

            updateClientStatusServedUrl: "{% url 'update-client-status-served' %}", // served by PACD resolved
            updateCLientStatusServedUnitUrl: "{% url 'update-client-status-served-unit' %}", // served by UNIT resolved

            viewAccount: "{% url 'get-account' 0 %}".replace(/0\/$/, ""),
            viewCLient: "{% url 'get-client' 0 %}".replace(/0\/$/, ""),
            viewCLientUnit: "{% url 'get-client-unit' 0 %}".replace(/0\/$/, ""),
            
            dailyDAta: "{% url 'get-daily-data' %}",
            monthlyData: "{% url 'get-monthly-data' %}",
            typeData: "{% url 'get-type-data' %}",
            
            
            addAccountUrl: "{% url 'account' %}", // add user account
            accountListUrl: "{% url 'accountList' %}",
            reports: "{% url 'reports' %}", // display reports in PACD user
            transaction: "{% url 'transactions' %}",
            dashboard: "{% url 'dashboard' %}",
            accounts: "{% url 'account' %}",

            repeatTransaction: "{% url 'repeat-transaction' %}", // repeat transaction

            csrfToken: "{{ csrf_token }}"
        };
    </script>
    <script src="{% static 'js/helper/helper.js' %}"></script>
    <script src="{% static 'js/actions/pacd-action.js' %}"></script>
    <script src="{% static 'js/actions/unit-action.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/graphs.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>
    <script src="{% static 'js/display.js' %}"></script>
    <script src="{% static 'js/account.js' %}"></script>
    <script src="{% static 'js/reports.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/transactions.js' %}"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>