<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <script>
        window.dashboardConfig = {
            unitDashboard: "{% url 'unit-dashboard' %}", // unit dashboard page
            unitPendingUrl: "{% url 'unit-pending' %}", // unit pending list
            unitResolved: "{% url 'unit-resolved' %}", // unit resolved list

            pacdDashboard: "{% url 'pacd-dashboard' %}", // pacd dashboard page
            pendingClientsUrl: "{% url 'pending_clients' %}", // pending clients
            forwardedClientUrl: "{% url 'forwarded-client' %}", // forwarded client from pacd to unit
            resolvedClient: "{% url 'resolved-client' %}",  // resolved client list

            queViewUrl: "{% url 'que-view' %}", // que display on screen
            displayQueUrl: "{% url 'display-page' %}", // display page

            
            pacdResolvedClient: "{% url 'pacd-resolved-client' %}", // action resolved client from PACD
            forwardedClientToUnit: "{% url 'forwarded-client-to-unit' %}", // action forwarded client to unit from PACD

            notificationPACD: "{% url 'notifications-pacd' %}", // notifications for pending in pacd

            updateClientStatusServedUrl: "{% url 'update_client_status_served' %}",
            

            
            
            addAccountUrl: "{% url 'account' %}", // add user account
            accountListUrl: "{% url 'accountList' %}",
            pacdReports: "{% url 'reports_pacd' %}",
            fetchCateredTransactionsUrl: "{% url 'transactionsTotal' %}",
            saveUpdateForwardedClientUrl: "{% url 'save_update_forwarded_client' %}", // edit functions update the forwarded unit
            csrfToken: "{{ csrf_token }}"
        };
    </script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/action.js' %}"></script>
    <script src="{% static 'js/unit.js' %}"></script>
    <script src="{% static 'js/notifications' %}"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>