{% extends 'app/base.html' %}

{% load static %}

{% block title %} Client Transaction Form {% endblock %}

{% block content %}
<style>
    body {
    font-size: 17px;
    line-height: 1.6;
    align-items: center;
    padding: .5rem 1rem;
  }

</style>
    <main class="login" aria-labelledby="form-title" role="main">    
        <h1>Welcome Client</h1>
        <p class="subtitle">Fill in the client information</p>
        <form method="post">        
                {% csrf_token %}
                {{ message }}
                {{ form.as_p }}
                <button class="login-btn" type="submit">Submit</button>
            
        </form>
     </main>
    <script>
        document.getElementById('client-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch("{% url 'client-page' %}", {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('message').innerText = data.message;
                fetchLaneData(); // Fetch updated lane data
            });
        });
    </script>

        
{% endblock %}