{% extends 'app/base.html' %}

{% load static %}

{% block title %} Client Transaction Form {% endblock %}

{% block content %}
    <div class="main-wrapper">
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <h2>Client Transaction Details</h2>
                {{ message }}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="image-container">
            <img src="{% static 'images/image1.jpg' %}" alt="Logo">
        </div>
    </div>
    <script>
        document.getElementById('client-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch("{% url 'client_page' %}", {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('message').innerText = data.message;
                fetchLaneData(); // Fetch updated lane data
            });
        });
    </script>
{% endblock %}