{% extends 'app/base.html' %}

{% load static %}

{% block title %} Client Transaction Form {% endblock %}

{% block content %}
    <div class="form-section">
        <form method="post">
            <div class="form-group">
                <h2>Client Transactions Details</h2>
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="logo-section">
        <img src="" alt="Logo">
    </div>
{% endblock %}