{% extends 'app/base.html' %}

{% block title %}Your Queue Ticket - Queue Management System{% endblock %}

{% block content %}
<div class="ticket-wrapper">
    <div class="ticket-card">
        <div class="ticket-header">
            <h4>Your Queue Ticket</h4>
        </div>
        <div class="ticket-body">
            <h2 class="ticket-number">{{ client.client_queue_no }}</h2>
            <p><strong>Client ID:</strong> {{ client.id }}</p>
            <p><strong>Transaction:</strong> {{ client.client_transaction_type }}</p>
            <p><strong>Full Name:</strong> {{ client.client_fullname }}</p>
            <p><strong>Lane Type:</strong> {{ client.client_lane_type }}</p>
            <p><strong>Status:</strong> {{ client.client_status }}</p>
            <p><strong>Date/Time:</strong> {{ client.client_created_date|date:"F d, Y - H:i" }}</p>
            <p class="note">Please keep this number and wait for it to be display the number in the screen and called. Thank you !!!</p>
            <div class="ticket-actions">
                <a href="{% url 'client-page' %}" class="new-ticket-btn">New Queue</a>
                <button onclick="window.print()" class="print-btn">Print Ticket</button>
            </div>
            <p class="note"> DOH QUEUING SYSTEM </p>
        </div>
    </div>
</div>

{% endblock %}