{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{user.unit}} Accounts {% endblock %}

{% block content %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner">
        <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo"/>
        </div>

        <div class="menu">
            <a href="{% url 'dashboard' %}" class="menu-item">
                <i class="fas fa-home icon"></i> Dashboard
            </a>
            <a href="" class="menu-item active">
                <i class="fas fa-exchange-alt icon"></i> Transactions
            </a>
            {% if user.unit == 'PACD' %}
            <a href="{% url 'account' %}" class="menu-item">
                <i class="fas fa-user-plus icon"></i> Accounts
            </a>
            {% endif %}
            <a href="{% url 'reports' %}" class="menu-item">
                <i class="fas fa-chart-line icon"></i> Reports
            </a>
            <a href="{% url 'services' %}" class="menu-item">
                <i class="fas fa-gears icon"></i> Services
            </a>
        </div>

        <div class="support-box">
            <h3 class="support-title">Need help?</h3>
            <p class="support-text">Our support team is just a click away.</p>
            <button class="support-button">Contact Support</button>
        </div>
    </div>
</div>
<nav class="navbar">
    <div class="navbar-left">
        <button class="sidebar-toggle" id="sidebarToggle">
            <i class="fas fa-bars icon-gray"></i>
        </button>
        <h1 class="navbar-title">{{ user.unit }} Transaction</h1>
    </div>
    
    <div class="navbar-right">
        <div class="notification-container">
            <button class="notification-button">
                <i class="fas fa-bell icon-gray"></i>
            </button>
            <span class="notification-badge" id="notify"></span>
        </div>
        
        <div class="profile">
            <img src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/52a9964b-98e3-4213-9b7d-f2a9624b66a7.png" 
                 alt="User profile picture with neutral background" 
                 class="profile-img" 
                 onerror="this.src='https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93cc de5887/image/0968cd8f-5f55-4551-a912-17f1ca55b782.png'">
            <span class="profile-name">{{ user.first_name }} {{ user.last_name }} ({{ user.position }})</span>
            <button class="notification-button">
                <a class="sign-out" href="{% url 'logout' %}"> <i class="fas fa-sign-out icon-red" title="Log out"></i> </a>
            </button>
        </div>
    </div>
</nav>
<main class="main">
    <div class="dashboard-cards">
        <div class="card">
            <h3> <i class="fas fa-users icon"></i> Transactions</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-transactions"></span>
                <!-- <div class="badge badge-green">+12%</div> -->
            </div>
        </div>
        <div class="card">
            <h3><i class="fas fa-check icon"></i> Total Served</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-completed"> </span>
                <!-- <div class="badge badge-blue">Active</div> -->
            </div>
        </div>
        <div class="card">
            <h3><i class="fas fa-user-message icon"></i> Total Serving</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-serving"> 0</span>
                <!-- <div class="badge badge-blue">Active</div> -->
            </div>
        </div>
        <div class="card">
            <h3> <i class="fas fa-exclamation-circle icon"></i> Total Skipped</h3>
            <div class="card-value-row">
                <span class="card-value" id="total-skipped"> </span>
                <!-- <span class="card-subtext">minutes</span> -->
            </div>
        </div>
    </div>

    {% if user.unit != 'PACD' %}
        <div class="transaction-panel" style="height: 265px;">
            <div class="panel-header">
                <h2> Serving Client </h2>
                <div class="pagination" id="servingPagination"></div>
            </div>
            <div class="transaction-list" id="servingClientList">
                <!-- data fetch -->
            </div>
        </div>
    {% endif %}
<br>
<div class="transaction-panel">
    <div class="panel-header">
        <h2> Pending Transactions </h2>
        <div class="pagination" id="paginationControls"></div>
    </div>
    <div class="transaction-list" id="pendingClientList">
        <!-- data fetch -->
    </div>
</div>
<br>
<div class="transaction-panel">
    <div class="panel-header">
        <h2> Transaction History </h2>
        <div id="historyPagination" class="pagination"></div>
    </div>
    <div class="transaction-list" id="todayTransactions">
        <!-- data fetch -->
    </div>
</div>
</main>


<!-- sample modal -->
<div class="modal-overlay" id="clientModal">
  <div class="modal-view">
    <!-- <h3 id="modalTitle"></h3> -->
    <button class="close-btn" onclick="closeModal()">&times;</button>
    <form class="approved-form client-details" id="clientForm" novalidate></form>
  </div>
</div>

<div class="modal-overlay" id="servedClient-unit">
    <div class="modal-view">    
        <button class="close-btn" aria-label="Close modal" onclick="servedClose()">&times;</button>
        <h2>For Serving Client</h2>
        <div class="">
            <div class="approved-form" novalidate>
                <label for="id">Client ID</label>
                <span id="to-served-client-id"></span>
                <label for="full-name">Full Name</label>
                <span id="to-served-fullname"></span>
                <label for="full-name">Company/Organization Name</label>
                <span id="client-org"></span>
                <label for="trnsaction-type">Transactions Type</label>
                <span id="to-served-trnsction-type"></span>
                <label>Transactions Details</label>
                <span id="to-served-trnsction-details"></span>
                <button type="submit" onclick="serving()">Serving</button>
            </div>
        </div>
    </div>
</div>

<!-- repeat transactions modal -->
<div class="modal-overlay" id="repeatTransaction" >
        <div class="modal-view">
            <button class="close-btn" aria-label="Close modal" onclick="closeRepeat()">&times;</button>
            <h2>Queue No. <span id="r-client-que"></span></h2>
            <div class="approved-form" novalidate>
            <label for="first-name">Full Name</label>
            <span id="r-fullname"></span>
            <label for="org-name">Organization/Company Name</label>
            <span id="r-org"></span>
            <label for="transaction-type">Transactions Type</label>
                <select class="form-option" name="divisions" id="r-transaction-type">
                    <option value="">Select Type</option>
                    <option value="Inquiry">Inquiry</option>
                    <option value="Request">Request</option>
                    <option value="Submit Documents">Submit Documents</option>
                    <option value="Payment">Payment</option>
                    <option value="Others">Others</option>
                </select>
            <label>Transactions Details</label>
            <textarea id="r-transactions-details" class="remarks-textarea" placeholder="Transactions Details....." required=True></textarea>
            <label class="form-label" for="division">Division: </label>
                <select class="form-option" name="divisions" id="r-division-select">
                    <option value="">Select Division</option>
                    <option value="MSD">MSD</option>
                    <option value="LHSD">LHSD</option>
                    <option value="RD/ARD">RD/ARD</option>
                    <option value="RLED">RLED</option>
                </select>
                <label class="form-label" for="unit">Unit:</label>
                <select class="form-option" name="unit" id="r-unit-select" required>
                    <option value="">Select Unit</option>
                </select>
                <button type="submit" onclick="saveRepeat()">Save</button>
            </div>
        </div>
    </div>

<div class="modal-overlay" id="view-details-modal" role="dialog" aria-modal="true" aria-labelledby="modal-title">
    <div class="modal-view" tabindex="-1">
        <button class="close-btn" aria-label="Close modal" onclick="closeViewDetails()">&times;</button>
        <h2>Client Details</h2>
        <dl id="client-details-list">
        </dl>
    </div>
</div>


<script>
    const sidebar = document.getElementById('sidebar');
    const toggleBtn = document.getElementById('sidebarToggle');

    function showSidebar() {
        sidebar.classList.remove('hidden');
    }

    function hideSidebar() {
        if (window.innerWidth <= 768) {
            sidebar.classList.add('hidden');
        }
    }

    function toggleSidebar() {
        sidebar.classList.toggle('hidden');
    }

    function checkScreenSize() {
        if (window.innerWidth > 768) {
            sidebar.classList.remove('hidden');
        } else {
            sidebar.classList.add('hidden');
        }
    }

    toggleBtn.addEventListener('click', (event) => {
        event.stopPropagation(); // Prevent click from reaching the document
        toggleSidebar();
    });

    // Hide sidebar if clicked outside
    document.addEventListener('click', (event) => {
        if (
            window.innerWidth <= 768 &&
            !sidebar.contains(event.target) &&
            !toggleBtn.contains(event.target)
        ) {
            hideSidebar();
        }
    });

    window.addEventListener('load', checkScreenSize);
    window.addEventListener('resize', checkScreenSize);
</script>



{% endblock %}