{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{user.unit}} Dashboard {% endblock %}

{% block content %}

<header>
  <div class="logo-header">
    <img src="{% static 'images/logo.png' %}" alt="Logo" /> &nbsp; <!-- Replace with your logo path -->
    {{ user.divisions }} Dashboard
  </div>
  <div class="header-icons">
    <div class="user-icon">
      <i class="fas fa-bell" title="notification"></i>
      <span class="n-badge" id="notificationCount" style="display: none;"></span>
    </div>
    <div class="notification-icon">
    <i class="fas fa-user-circle" title="Online User"></i>
      <span class="n-badge">2</span>
    </div>
    <a class="sign-out" href="{% url 'logout' %}"><i class="fas fa-sign-out" title="Sign Out"></i></a>
  </div>
</header>
<div class="app-container">
  <aside>
    <nav>
      <a href="{% url 'unit-transactions' %}">Transactions</a>
      <a href=""  class="active">Dashboard</a>
    </nav>
  </aside>
  <main class="main-dashboard">
    <div class="cards">
      <div class="card">
        Total Transactions<br /><strong>1,245</strong>
      </div>
      <div class="card">
        Sales<br /><strong>$23,470</strong>
      </div>
      <div class="card">
        Feedback<br /><strong>87</strong>
      </div>
    </div>
    <section class="chart-container">
      <div class="dual-charts">
        <div class="chart-box">
          <h2>Daily Output</h2>
          <canvas id="dailyOutputChart"></canvas>
        </div>
        <div class="chart-box">
          <h2>Sales Overview</h2>
          <canvas id="salesChart"></canvas>
        </div>
      </div>
      <h2>Transaction List</h2>
      <div class="table-container">
        <table id="transactionHistoryAll">
        <thead>
          <tr>
            <th>Transactions ID</th>
            <th>Client Fullname</th>
            <th>Division</th>
            <th>Unit</th>
            <th>Status</th>
            <th>Date Served</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      </div >
      
    </section>
  </main>

  <!-- Modal for user details -->
  <div class="modal-overlay" id="view-details-modal" role="dialog" aria-modal="true" aria-labelledby="modal-title">
    <div class="modal-view" tabindex="-1">
      <button class="close-btn" aria-label="Close modal" onclick="closeViewDetails()">&times;</button>
      <h2>Client Details</h2>
      <dl id="client-details-list">
      </dl>
  </div>
{% endblock %}